.counter{
  height: 500px;
  width: 500px;
  border: 2px solid green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(red,yellow);
}
button{
   width: 200px;
   height: 2.4rem;
   box-sizing: border-box;
   color: aliceblue;
   border-radius: 1em;
   outline: none;
   border: 2px solid wheat;
font-family: Georgia, 'Times New Roman', Times, serif;

   margin: 0 10px;
   background-image: linear-gradient(to left,red,blue);
}